Bitfinex/.vs/
Bitfinex/Bitfinex/bin/
Bitfinex/Bitfinex/obj/
AuctionSystem/AuctionSystem.Server/bin/
AuctionSystem/AuctionSystem.Core/obj/
AuctionSystem/.vs/
AuctionSystem/AuctionSystem.Server/obj/
AuctionSystem/AuctionSystem.Core/bin/
